.Archive
.vs
*.dg
*.log
*.suo
*.user
core
/*/obj
/*/bin
/*/Properties
/*/node_modules
/*/package-lock.json
/*/*/dist
/*/*/node_modules
/*/*/package-lock.json
/*/dist
/*/wwwroot
/*/webroot
/*/xcore
/*/output
/*/xcore/platform
/Control/src/views/charts
/Control/src/views/payset
/Control/src/views/record
/Server/Controllers/Service/ServiceController.cs
/Server/Models/Trade.cs
