AllowPermission=
AuthifyHost=https://authify.cn
WLN_CONNSTR_HOST=192.168.31.252
WLN_CONNSTR_NAME=lms
WLN_CONNSTR_PWD=123456
WLN_CONNSTR_UID=lms
WLN_LISTEN_PORT=9800
WLN_LOG_LEVEL=info
WLN_LOG_TYPE=console
WLN_NODE=logistic
WLN_TIMEZONE=8
XCenterApp=control
XCenterAppToken=e73f9519405483d6
XCenterDomain=
XCenterOwner=729000010
XStorageType=local
